/* .video-holder {} */

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    margin-bottom: 10%;
    /* Player ratio: 100 / (1280 / 720) */
}

.react-player-main {
    position: absolute;
    top: 5%;
}

.react-player-sub {
    position: absolute;
    top: 0;
    transform: translateY(10%)
}

.thumbnail {
    position: relative;
    height: 94px;
    width: 168px
}