.lead {
    padding-left: 50px;
}

.jumbo {
    height: 500px;
    background-image: url('../img/title.jpg');
    /* background-position: 25% 75%; */
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: #777;
}

.mainBody {
    position: relative;
    background-color: #212529;
    height: 75vh;
    width: 100%;

}

.explain {
    position: absolute;
    /* padding: 25px;
    border-radius: 10px;
    margin-top: 25px;
    height: 400px;
    flex: 0 0 50%; */
}