html {
    width: 100%;
    height: 100%;
}

.lead {
    padding-left: 50px;
}

.jumbo {
    height: 500px;
    background-image: url('../img/title.jpg');
    /* background-position: 25% 75%; */
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(93, 66, 246);
}

.mainBody {
    position: relative;
    background-color: #3a4149;
    height: 100%;
    width: 100%;
    padding-top: 50px;

}

.explain {
    position: absolute;
}

.titleText {
    position: relative;
    margin-top: 50px;
}

.mainBody>li {
    margin-bottom: 50px;
}